* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.target-root {
  background: rgb(41, 46, 58);
  color: #fff;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.target-root h1 {
  font-size: 60px;
}

.target-root h2 {
  font-size: 40px;
}
